<!-- cols -->
<section class="cols">
    <div class="col">
        <img src="css/images/col-img1.png" alt="" />
        <div class="col-cnt">
            <h2>Print</h2>
            <p>Print any document on a boomaga printer.</p>
        </div>
    </div>
    <div class="col">
        <img src="css/images/col-img2.png" alt="" />
        <div class="col-cnt">
            <h2>Preview</h2>
            <p>Look at result before real print.</p>
        </div>
    </div>
    <div class="col">
        <img src="css/images/col-img3.png" alt="" />
        <div class="col-cnt">
            <h2>Get</h2>
            <p>Print on physical printer and get what you want.</p>
        </div>
    </div>
    <div class="cl">&nbsp;</div>
<hr></section><!-- end of cols -->            
