<div class="intro">
    <div class="intro-text">
        <h5>Opensource virtual printer</h5>
        <h1>Boomaga</h1>
            Boomaga is a virtual printer for viewing a document before printing it out using the physical printer and help you get your documents prepared a bit before printing.
            <a href="/download/" class="green-btn">Download</a>
    </div>
    <a class=screenshot href="/boomaga.png"><img style='height: 500px; qfloat: rigth; border: 3px solid #242424; padding-right: 80px;' class="img-back" src="/boomaga.png"></a>
<script>
    jQuery('a.screenshot').colorbox({ opacity:0 });
</script>    
<div>
