---
layout: default
title: Boomaga - Screenshots
menuItem: screenshots

images_stable:
  - preview:     v0.4_mainwindow-s.png
    full:        v0.4_mainwindow.png
    description: Main window

  - preview:     v0.4_printer_settings-s.png
    full:        v0.4_printer_settings.png
    description: Printer prefferences


images_old:  
  - preview:     v0.3_mainwindow-s.png
    full:        v0.3_mainwindow.png
    description: Main window (0.3 version)

  - preview:     v0.2_mainwindow-s.png
    full:        v0.2_mainwindow.png
    description: Main window (0.2 version)
    
  - preview:     v0.2_printer_settings-s.png
    full:        v0.2_printer_settings.png
    description: Printer prefferences  (0.2 version)
        
---
<h1>Screenshots</h1>

<h2>Stable version</h2>
{% include gallery.html images=page.images_stable group="screenshots" %}

<h2>Previous versions</h2>
{% include gallery.html images=page.images_old group="screenshots_old" %}

